body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  padding: 25px;
  background-color: rgb(23, 31, 68);
  /* background-color: rgb(31, 138, 209); */
}

ul {
  display: block;
}

li {
  display: inline;
  margin: 10px;
}

li a {
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  color: rgb(255, 249, 249);
}

li a:hover {
  color: rgb(0, 0, 0);
}

header {
  padding: 150px;
  /* background-color: rgb(19, 22, 53); */
  background-color: #303846;
}

.inner {
  background-color: black;
  padding: 2px;
}

header h1 {
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.section {
  padding: 150px;
  color: black;
  font-family: sans-serif;
  /* width: 600px; */
  margin: auto;
}
.features {
  padding: 150px;
  color: black;
  font-family: sans-serif;
  /* width: 600px; */
  margin: auto;
}

.footer {
  padding: 25px;
  background-color: rgb(23, 31, 68);
  color: white;
  font-family: sans-serif;
  text-align: center;
}
#services {
  padding: 150px;
}
