body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

hr.hrelement {
  border-top: 3px dotted rgb(245, 243, 243);
}
.inner1 {
  background-color: rgb(211, 214, 14);
  padding: 1px;
}

header {
  padding: 150px;
  /* background-color: rgb(19, 22, 53); */
  background-color: #000000;
}

.inner {
  background-color: black;
  padding: 2px;
}

header h1 {
  color: white;
  font-family: sans-serif;
  text-align: center;
}

#techinfo {
  background-color: lightcyan;
}

.section {
  background-color: rgb(87, 172, 230);
  padding: 100px;
  color: black;
  font-family: sans-serif;
  width: 800px;
  margin: auto;
  border-radius: 15px;
}
.features {
  background-color: forestgreen;
  padding: 150px;
  color: black;
  font-family: sans-serif;
  /* width: 600px; */
  margin: auto;
}
#services {
  padding: 100px;
  background-color: lightcoral;
  width: 800px;
  margin: auto;
  border-radius: 15px;
}