body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.inner1 {
  background-color: rgb(99, 99, 99);
  padding: 1px;
}

header {
  padding: 150px;
  /* background-color: rgb(19, 22, 53); */
  background-color: #303846;
}

.inner {
  background-color: black;
  padding: 2px;
}

header h1 {
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.section {
  padding: 150px;
  color: black;
  font-family: sans-serif;
  /* width: 600px; */
  margin: auto;
}
.features {
  padding: 150px;
  color: black;
  font-family: sans-serif;
  /* width: 600px; */
  margin: auto;
}

.footer {
  padding: 25px;
  background-color: rgb(23, 31, 68);
  color: white;
  font-family: sans-serif;
  text-align: center;
}
#services {
  padding: 150px;
}

/* Footer Nav Css */

.footer ul {
  display: block;
}

.footer li {
  display: inline;
  margin: 10px;
}
.footer a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

.footer a:hover {
  color: lightslategray;
  text-decoration: underline;
}
