<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Techtack Technologies components</title>
  </head>
  <body>
    <div class="alerts-banner">
      <p>
        <i
          style="font-size: 25px; color: rgb(243, 237, 237);"
          class="bi bi-exclamation-triangle"
        ></i>
        We've listened to your feedback and have used it to create a brand new
        experience. Learn more
      </p>
    </div>
  </body>
</html>
